.input-group.clockpicker {
    width: 110px;
}
.work-hours .form-group {
	margin: 15px 0;
	min-height: 36px;
	/*overflow: auto;*/
	line-height: 34px;
}
.work-hours label {
	width: 100px;
}
.work-hours .enabler{
	display: inline-block;
	width: 56px;
}
.work-hours .hours {
	height: 34px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	margin-bottom: 10px;
}
.work-hours .hours.new-line {
	display: block;
	margin-left: 227px;
}
.clockpicker-separator {
	margin: 0 10px;
	width: 1em;
	vertical-align: top;
}
.work-hours .hours-start, .work-hours .hours-end, 
.work-hours .clockpicker-separator, .work-hours label,
.work-hours .open-close-desc, .work-hours .add-hours,
.work-hours .enabler {
	display: inline-block;
	float: left;
}
.open-close-desc span {
	font-weight: bold;
}
.work-hours .add-hours {
	height: 34px;
	margin-left: 10px;
}
.work-hours .switchery {
	background-color: #b9b9b9 !important;
	height: 14px !important;
	border-radius: 8px !important;
	width: 38px !important;
}
.switchery:before {
    height: 20px !important;
    width: 20px !important;
    top: -3px !important;
}

.ios-switch-cb:checked + .switchery {
    background-color: rgba(0,150,136,0.502) !important;
    box-shadow: rgba(0,150,136,0.502) 0px 0px 0px 16px inset !important;
    border-color: rgb(100, 189, 99);
}

.ios-switch-cb:checked + .switchery:before {
  background: rgb(5, 130, 118) !important;
}

/*

	// $('#day-of-week-' + this.data.day + ' .js-switch')
	// 	.each(function(index, element) {
	// 		var switchery = new Switchery(element, {
	// 			size: 'small',
	// 			color: 'rgba(0,150,136,0.502)',
	// 			secondaryColor: '#b9b9b9',
	// 			jackColor: '',
	// 			jackSecondaryColor: '#ffffff'
	// 		});
	// 	});*/