<template name="certificateForm">
  {{> pageHeading title='certificates_certificates'}}

	<div class="wrapper wrapper-content  animated fadeInRight">
		<div class="row">
			<div class="col-sm-12" id="tablebox">
				<div class="ibox ">
					<div class="ibox-title">
						<h5>{{_ 'certificates_certificates'}}
							<small class="m-l-sm">{{_ 'certificates_manage'}}</small>
						</h5>
						{{!-->iboxTools--}}
						<button class="btn btn-sm btn-primary pull-right m-t-n-xs new-record">
							<strong><i class="fa fa-plus" aria-hidden="true"></i> {{_ 'certificates_new'}}</strong>
						</button>
					</div>
					<div class="ibox-content">
						{{#if isEditForm}}
							{{> quickForm collection="Certificates" doc=record id="certificateForm" type="update" buttonContent=saveButton class="certificate-form"}}
						{{else}}
							{{> quickForm collection="Certificates" id="certificateForm" type="insert" buttonContent=saveButton class="certificate-form"}}
						{{/if}}
						{{{_ 'prescriptions_help'}}}
					</div>
					<div id="table-footer" class="ibox-footer"></div>
				</div>
			</div>
		</div>
	</div>
</template>
