<template name="pageHeading">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>{{_ title}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/home">{{_ 'common_dashboard'}}</a>
                </li>
                {{#if category}}
                <li>
                    <a>{{_ category}}</a>
                </li>
                {{/if}}
                <li class="active">
                    <strong>{{_ title}}</strong>
                </li>
            </ol>
        </div>
    </div>
</template>