<template name="documentModelForm">
  {{> pageHeading title='document-models_document-models'}}

	<div class="wrapper wrapper-content  animated fadeInRight">
		<div class="row">
			<div class="col-sm-12" id="tablebox">
				<div class="ibox ">
					<div class="ibox-title">
						<h5>{{_ 'document-models_document-models'}}
							<small class="m-l-sm">{{_ 'document-models_manage'}}</small>
						</h5>
						{{!-->iboxTools--}}
						<button class="btn btn-sm btn-primary pull-right m-t-n-xs new-record">
							<strong><i class="fa fa-plus" aria-hidden="true"></i> {{_ 'document-models_new'}}</strong>
						</button>
					</div>
					<div class="ibox-content">
						{{#if isEditForm}}
							{{> quickForm collection="DocumentModels" doc=record id="documentModelForm" type="update" buttonContent=saveButton class="document-model-form"}}
						{{else}}
							{{> quickForm collection="DocumentModels" id="documentModelForm" type="insert" buttonContent=saveButton class="document-model-form"}}
						{{/if}}
						<p>{{{_ 'document-models_help'}}}</p>
						<p>{{{_ 'document-models_help-patient-info'}}}</p>
						<p>{{{_ 'document-models_help-icd10'}}}</p>
						<p>{{{_ 'document-models_help-drug'}}}</p>
					</div>
					<div id="table-footer" class="ibox-footer"></div>
				</div>
			</div>
		</div>
	</div>
</template>
