<template name="schedule">

    <!-- Page heading -->
    {{> pageHeading title='schedule_schedule' }}

    <div class="wrapper wrapper-content">
        <div class="row animated fadeInDown">
            <div class="col-lg-12">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="scheduleEventForm" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                    	<span aria-hidden="true">&times;</span>
                    	<span class="sr-only">Close</span>
                    </button>
                    <div class="scheduleTitle"></div>
                </div>
                <div class="modal-body">
					<form id="insertPatientForm" class="schedule-form" novalidate="novalidate">
						<div class="row selectAddPacient">
							<div class="col-md-2">
								<button type="button" class="addPatient btn">
									<i class="fa fa-user-plus" aria-hidden="true"></i>
								</button>
							</div>
							<div class="col-md-10">
								<label for="patients">{{_ 'patients_patients'}}</label>
								<div class="select-wrapper"> 
									<select name="patients" data-placeholder="{{_ 'common_firstOption'}}" class="chosen-select" tabindex="4">
										<option class="tag" value="">{{_ 'common_firstOption'}}</option>
										{{#each patients}}
											<option class="tag" value="{{_id}}">{{name}}</option>
										{{/each}}
									</select>
								</div>
							</div>
						</div>
					</form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger delete-btn" type="button" data-dismiss="modal">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-white cancel" data-dismiss="modal">
						<i class="fa fa-ban" aria-hidden="true"></i> {{_ 'common_cancel'}}
                    </button>
                    <button type="button" class="btn btn-primary save">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> {{_ 'common_save'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>