<template name="receituarioForm">
  {{> pageHeading title='Precrições'}}

	<div class="wrapper wrapper-content  animated fadeInRight">
		<div class="row">
			<div class="col-sm-12" id="tablebox">
				<div class="ibox ">
					<div class="ibox-title">
						<h5>{{_ 'Precrições'}}
							<small class="m-l-sm">{{_ 'Gerencie modelos de prescrições'}}</small>
						</h5>
						{{!-->iboxTools--}}
						<button class="btn btn-sm btn-primary pull-right m-t-n-xs new-user">
							<strong><i class="fa fa-plus" aria-hidden="true"></i> {{_ 'Nova Prescrição'}}</strong>
						</button>
					</div>
					<div class="ibox-content">
						{{#if isEditForm}}
							{{> quickForm collection="Receituario" doc=receita id="insertReceituarioForm" type="update" buttonContent=saveButton class="receituario-form"}}
							{{runUxAdjustments}}
						{{else}}
							{{> quickForm collection="Receituario" id="insertReceituarioForm" type="insert" buttonContent=saveButton class="receituario-form"}}
							{{runUxAdjustments}}
						{{/if}}
						Você pode agilizar a criação da prescrição utilizando os seguintes atalhos: <b>digite #</b> para selecionar as informações sobre o paciente e digite o início do nome medicamento e selecione-o em uma lista.
					</div>
					<div id="table-footer" class="ibox-footer"></div>
				</div>
			</div>
		</div>
	</div>
</template>
