<template name="mainLayout">
{{#if currentUser }}
    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        {{> navigation }}

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">

            <!-- Page wrapper -->
            {{> topNavbar }}

            {{#if isReady}}
                <!-- Main view  -->
                {{>Template.dynamic template=content}}
            {{else}}
                {{> loading}}
            {{/if}}
            <!-- Footer -->
            {{> footer }}

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->
{{/if}}
</template>
