<template name="users">
	{{> pageHeading title='users_users'}}

	<div class="wrapper wrapper-content  animated fadeInRight">
		<div class="row">
			<div class="col-sm-8">
				<div class="ibox ">
					<div class="ibox-title">
						<h5>{{_ 'users_users'}}
							<small class="m-l-sm">{{_ 'users_management'}}</small>
						</h5>
						{{>iboxTools}}
					</div>
					<div class="ibox-content">
						{{> ReactiveDatatable tableData=reactiveDataFunction options=optionsObject}}
					</div>
					<div id="table-footer" class="ibox-footer"></div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="ibox ">
					<div class="ibox-title">
						<h5>{{_ 'users_edituser'}}</h5>
					</div>
					<div class="ibox-content">
						<form id="user-form" role="form">
							<div class="form-group">
								<label>{{_'users_firstName'}}</label>
								<input type="input" name="firstName" placeholder="{{_'users_firstNamePlaceholder'}}" class="form-control">
							</div>
							<div class="form-group">
								<label>{{_'users_lastName'}}</label>
								<input type="input" name="lastName" placeholder="{{_'users_lastNamePlaceholder'}}" class="form-control">
							</div>
							<div class="form-group">
								<label>{{_'users_email'}}</label>
								<input type="email" name="email" placeholder="{{_'users_emailPlaceholder'}}" class="form-control">
							</div>
							<div class="form-group">
								<label>{{_'users_password'}}</label>
								<input type="password" name="password" placeholder="{{_'users_passwordPlaceholder'}}" class="form-control">
							</div>
							<div>
								<button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit">
									<strong>{{_ 'common_save'}}</strong>
								</button>
								<div class="checkbox checkbox-success">
									<input type="checkbox" name="enabled">
									<label for="enabled">
										{{_ 'users_enabled'}}
									</label>
								</div>
							</div>
						</form>
					</div>
					<div class="ibox-footer">&nbsp;</div>
				</div>
			</div>
		</div>
	</div>
</template>