<template name="users">
	{{> pageHeading title='users_users'}}

	<div class="wrapper wrapper-content  animated fadeInRight">
		<div class="row">
			<div class="col-sm-8">
				<div class="ibox ">
					<div class="ibox-title">
						<h5>{{_ 'users_users'}}
							<small class="m-l-sm">{{_ 'users_management'}}</small>
						</h5>
						{{>iboxTools}}
					</div>
					<div class="ibox-content">
						{{> ReactiveDatatable tableData=reactiveDataFunction options=optionsObject}}
					</div>
					<div class="ibox-footer">
						<span class="pull-right">
							Teste 1
						</span>
						Teste 2
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="ibox ">
					<div class="ibox-title">
						<h5>Bla bla bla 2
							<small class="m-l-sm">fdafda fda fda</small>
						</h5>
						{{>iboxTools}}
					</div>
					<div class="ibox-content">
						<h2 >
							Bla bla bla<br/>
						</h2>
						<p>
							<strong>Lorem ipsum dolor</strong>
							Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
						</p>
						<p>
							<small>
							Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
							</small>
						</p>
					</div>
					<div class="ibox-footer">
						<span class="pull-right">
							fda fda
						</span>
						as afda fda
					</div>
				</div>
			</div>
		</div>
	</div>
</template>