<template name="pagina2">

    {{> pageHeading title='Página 2' }}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center m-t-lg">
                    <h1>
                        Exemplo de uma segunda página
                    </h1>
                    <small>Em breve as novas telas serão adicionadas a este aplicativo.</small>
                </div>
            </div>
        </div>
    </div>
</template>
