<template name="terms">
    <div class="middle-box text-center animated fadeInDown">
        <h1>Terms of Use</h1>
        <h3 class="font-bold">{{_ 'common_404'}}</h3>

        <div class="error-desc">
            {{_ 'common_404-message'}}
            <form class="form-inline m-t" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="{{_ 'common_search-page'}}">
                </div>
                <button type="submit" class="btn btn-primary">{{_ 'common_search'}}</button>
            </form>
        </div>
    </div>
</template>
