<template name="patientRecord">
	

	<div class="btn-group dropup floating-action-button">
		<button class="btn btn-primary btn-circle btn-lg btn-raised dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fa fa-plus"></i>
		</button>
		<ul class="dropdown-menu" data-dropdown-in="bounceInUp" data-dropdown-out="bounceOutDown">
			<button class="btn btn-primary btn-circle btn-lg btn-raised" type="button">
				<i class="fa fa-plus"></i>
			</button>
			<button class="btn btn-primary btn-circle btn-lg btn-raised" type="button">
				<i class="fa fa-plus"></i>
			</button>
			<button class="btn btn-primary btn-circle btn-lg btn-raised" type="button">
				<i class="fa fa-plus"></i>
			</button>
			<button class="btn btn-primary btn-circle btn-lg btn-raised" type="button">
				<i class="fa fa-plus"></i>
			</button>
			<button class="btn btn-primary btn-circle btn-lg btn-raised" type="button">
				<i class="fa fa-plus"></i>
			</button>
		</ul>
	</div>

	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</template>