.open-close-desc span {
	font-weight: bold;
}
.input-group.clockpicker {
    width: 110px;
}
.work-hours. .form-group {
	margin: 15px 0;
	min-height: 36px;
}
.work-hours label {
	width: 100px;
}
.work-hours .enabler{
	display: inline-block;
	width: 100px;
}
.work-hours .hours {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.work-hours .hours.new-line {
	display: block;
	margin-left: 217px;
}
.clockpicker-separator {
	margin: 0 10px;
	width: 1em;
	display: inline-block;
	vertical-align: top;
	padding-top: 8px;
}
.work-hours .hours-left, .work-hours .hours-right {
	display: inline-block;
}
.work-hours button {
	vertical-align: middle;
	height: 34px;
	margin-left: 10px;
}