.login-logo-wrapper{
	margin-bottom: 26px;
}
.at-form {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    border-radius: 0px;
    overflow: hidden;
}
small, .small {
    font-size: 81%;
}
.at-form p {
    font-size: 13px;
    line-height: 1.42857143;
}
#at-btn.btn-default {
    background-color: #1ab394 !important;
	border-color: #1ab394 !important;
	color: #FFFFFF !important;
}